body {
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  transition: background-color 0.3s, color 0.3s;
}
.container {
  max-width: 900px;
  margin: auto;
}
.header-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  border: 1px solid #0fa9f7;
  padding: 20px;
  border-radius: 5px;
}
.header-title h1 {
  margin: 0;
}
.qr-preview {
  text-align: center;
  margin-top: 20px;
}
.hidden {
  display: none;
}
.action-buttons .btn {
  margin: 5px;
}
.lc, .rc {
  border: 1px solid #0fa9f7;
  padding: 15px;
  border-radius: 5px;
}
@media (max-width: 768px) {
  .header-title h1 {
    font-size: medium;
  }
}
/* Dark Mode Styles */
.dark-mode {
  background-color: #121212;
  color: #ffffff;
}
.dark-mode .header-title {
  border-color: #0fa9f7;
}
.dark-mode .lc, .dark-mode .rc {
  border-color: #0fa9f7;
}
.dark-mode .btn-outline-secondary {
  color: #ffffff;
  border-color: #ffffff;
}
.dark-mode .btn-outline-secondary:hover {
  background-color: #ffffff;
  color: #121212;
}